<form #form="ngForm" class="row g-3 w-50 m-auto mt-5 shadow-sm border rounded p-3">
  <p class="fs-2 fw-bold">Create a new account</p>
  <div class="col-md-6">
    <label for="first-name" class="form-label">First Name</label>
    <input 
      required
      ngModel
      #firstName="ngModel"
      type="text" 
      name="fist-name"
      class="form-control" 
      id="first-name"
      [class.is-invalid]="!firstName.valid && firstName.touched"
    >
    <div class="invalid-feedback" *ngIf="firstName.touched && !firstName.valid">
      <div *ngIf="emailInput.errors?.['required']">First name is required.</div>
    </div>
  </div>
  <div class="col-md-6">
    <label for="last-name" class="form-label">Last Name</label>
    <input
      required
      ngModel
      #lastName="ngModel"
      type="text" 
      name="last-name"
      class="form-control" 
      id="last-name"
      [class.is-invalid]="!lastName.valid && lastName.touched"
    >
    <div class="invalid-feedback" *ngIf="lastName.touched && !lastName.valid">
      <div *ngIf="emailInput.errors?.['required']">Last name is required.</div>
    </div>
  </div>
  <div class="col-12">
    <label for="email" class="form-label">Email</label>
    <input 
      required 
      pattern="[a-z0-9\.]+@[a-z]+\.[a-z]{2,3}" 
      ngModel
      type="text" 
      class="form-control" 
      id="email" 
      name="email"
      placeholder="" 
      #emailInput="ngModel"
      [class.is-invalid]="!emailInput.valid && emailInput.touched"
      >
    <div class="invalid-feedback" *ngIf="emailInput.touched && !emailInput.valid">
      <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
      <div *ngIf="emailInput.errors?.['pattern']">Enter valid email.</div>
    </div>
  </div>
  <div class="col-12">
    <label for="password" class="form-label">Password</label>
    <input
      required 
      ngModel
      minlength="8"
      name="password_1" 
      #passwordInput_1="ngModel"
      type="password" 
      class="form-control" 
      id="password_1"
      [class.is-invalid]="passwordInput_1.touched && !passwordInput_1.valid"
    >
    <div class="invalid-feedback" *ngIf="passwordInput_1.touched && !passwordInput_1.valid">
      <div *ngIf="passwordInput_1.errors?.['required']">Password is required.</div>
      <div *ngIf="passwordInput_1.errors?.['minlength']">Password should be min. 8 characters long.</div>
    </div>
  </div>
  <div class="col-12">
    <button 
      [disabled]="!form.valid" 
      type="submit" 
      class="btn btn-primary"
    >Sign Up</button>
  </div>
</form>